<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>


    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

<section>
    <table>

        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>권한</th>
            <th>회원삭제1</th>
            <th>회원삭제2</th>
        </tr>

        <th:block th:each="member :${list}">
            <tr>
                <td id="loginId" th:text="${member.LoginId}">admin</td>
                <td th:text="${member.Name}">관리자</td>
                <td th:text="${member.Role}">ADMIN</td>
                <td>
                    <a class="link btn btn-delete" th:href="@{/member/del/{id}(id=${member.Id})}">삭제 </a>
                </td>
                <td>
                    <button class="btn btn-delete" th:data-id="${member.Id}" >삭제 ajax</button>
                </td>
            </tr>
        </th:block>
    </table>
</section>
<div th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>

<script defer src="/js/member.js"> </script>