<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="bodyHeader">
    <th:block sec:authorize="isAuthenticated()">
     <div class="menu" onclick="location.href='/logout'"> 로그아웃</div>
    <div class="menu" onclick="location.href='/member/members'"> 회원목록</div>
    <div class="menu" onclick="location.href='/study'"> 공부 기록 등록</div>
    <div class="menu" onclick="location.href='/study/records'"> 공부 기록 목록 </div>
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        <div class="menu" onclick="location.href='/sign-up'"> 회원가입 </div>
        <div class="menu" onclick="location.href='/login-form'"> 로그인 </div>
    </th:block>
</header>