<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>타임리프 예제 </title>
</head>
<body>
   <h1 th:text="${hello}"> hello </h1>
   <h1 > [[${hello}]] </h1>
<div th:object="${person}">
<!--  person.getName()  -->
    <p th:text=" *{name}"> 이름 | 홍길동  </p>
    <p th:text="| 이름 : *{name}|"> 이름 | 홍길동  </p>
    <p> 나이 | <span th:text="*{age}"></span></p>
    <p>취미</p>
    <ul th:each="hobby : *{hobbies}">
        <li th:text="${hobby}"> 취미 내용
            <span th:if="*{ age == 10}">
                [ 대표 취미 ]</span>  </li>
    </ul>
</div>
<a th:href="@{/api/articles/2}"> 2번 게시글 보기 </a>
</body>
</html>