<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: loginHeader}" >
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<section>
<div class="login-container">
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" required placeholder="아이디를 입력하세요">
<!--            <label for="id">아이디</label>-->
<!--            <input type="text" id="id" name="id" required placeholder="아이디를 입력하세요">-->
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password"  required placeholder="비밀번호를 입력하세요">
        </div>
        <button type="submit" class="btn login-btn">로그인</button>
        <button type="button" class="btn signup-btn" onclick="location.href='/sign-up'">회원가입</button>

        <div class="social-login">
            <button type="button" class="btn social-btn google-btn" onclick='location.href="/oauth2/authorization/google"'>Google로 로그인</button>
            <button type="button" class="btn social-btn naver-btn" onclick='location.href="/oauth2/authorization/naver"'>Naver로 로그인</button>
        </div>
    </form>
</div>
</section>
<div th:replace="~{fragments/footer :: footer}"> </div>
</body>
</html>

